.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  .title {
    color: #fff;
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 10px;

    .secondTitle {
      color: rgb(199, 79, 138);
    }
  }

  .subTitle {
    color: rgba(255, 255, 255, 0.6);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .price {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .color {
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .button {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(223, 21, 60);
    border: none;
    border-radius: 6px;
    box-shadow: none;
    outline: none;
    padding: 10px 70px;
  }
}
