:root {
  --shootingStarBgDot1: rgb(247, 107, 28);
  --shootingStarBgLine1: linear-gradient(90deg, #f76b1c 0%, #fad961 50%, transparent 100%);
  --shootingStarShadow1: 0 0 0 4px rgba(247, 107, 28, 0.1), 0 0 0 8px rgba(247, 107, 28, 0.1),
    0 0 20px rgba(255, 255, 255, 1);
  --shootingStarBgDot2: rgb(59, 172, 230);
  --shootingStarShadow2: 0 0 0 4px rgba(159, 172, 230, 0.1), 0 0 0 8px rgba(159, 172, 230, 0.1),
    0 0 20px rgba(255, 255, 255, 1);
  --shootingStarBgLine2: linear-gradient(90deg, rgb(159, 172, 230) 0%, #74ebd5 50%, transparent 100%);
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  user-select: none;
}

a {
  text-decoration: none;
}

input,
textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  //   font-family: var(--font-family-base);
  background-color: transparent;
}
