.wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  transform: rotate(-50deg);
  // animation: animate 3s linear infinite;

  .dot {
    width: 6px;
    height: 6px;
    background: var(--bg-dot);
    border-radius: 50%;
    box-shadow: var(--shadow-dot);
  }

  .line {
    width: 360px;
    height: 4px;
    background: var(--bg-line);
    transform-origin: right;
  }
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
