.wrapper {
  position: fixed;
  inset: 0 0 auto 0;
  height: 100px;
  z-index: 100;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
    font-size: 14px;

    .linkList {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin: 0 28px;
        cursor: pointer;
      }
    }

    .buttons {
      font-size: 20px;
      cursor: pointer;

      svg + svg {
        margin-left: 30px;
      }
    }
  }
}
